*.tsv
*/*.tsv
*/*/.tsv
*/*/*.tsv

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

*.py[cod]
*/.py[cod]
*/*/.py[cod]
*/*/*/.py[cod]

*.ipynb_checkpoints
*/*.ipynb_checkpoints
*/*/*.ipynb_checkpoints
*/*/*/*.ipynb_checkpoints